BasedOnStyle: LLVM
Language: Cpp
Standard: c++03
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
AlignConsecutiveMacros: AcrossEmptyLines
AlignTrailingComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
