Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -misc-include-cleaner,
  -misc-no-recursion,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|apps)/.*\.h$'
FormatStyle: file
